body {
 	
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Oswald', sans-serif;
	background-image: url("../img/bg2.png"); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
  }
	
.content {

	margin: 0 auto;
	background: #fff;
    color: #000;
	text-align: justify;
	width: 89%;
	padding: 3%;
    border-radius: 3px;
}


    
